.body{
  height: 55%;
  width:55%;
  text-align: center;
  border-radius: 90px;
  color: white;
  box-shadow: 10px 10px 5px grey;
  background-color: #EAF6F6;
  border: 1px solid #000000;
  position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
}
